// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: rgb(61, 94, 158);

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

@import "/node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-vue-3/dist/bootstrap-vue-3.css"
// Then add additional custom code here
