# Build, lint and test the vue.js project using vite.
name: Build, Lint and Test
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:
    inputs:
      run_tests:
        description: 'Run tests'
        required: true
        default: 'true'
        type: choice
        options:
          - true
          - false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Lint code
        run: bun run lint

      - name: Build project
        run: bun run build

      - name: Run tests
        if: github.event.inputs.run_tests == 'true'
        run: bun test

